.add-school {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

.title {
    display: inline-block;
    width: 150px;
}

.input {
    display: inline-block;
}

.input-field {
    font-size: 11px;
    line-height: 11px;
    padding: 0px;
}

.add-button {
    text-align: center;
    padding: 3px;
    border: 1px solid rgb(219, 219, 219);
}
