.add-school {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
}

.school-added {
    color: rgb(4, 57, 122);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
}

.school-added_active {
    padding-top: 5px;
    padding-bottom: 10px;
    max-height: 100px;
}

.add-school_show {
    max-height: 400px;
}

.section {
    margin-bottom: 3px;
}

.title {
    vertical-align: top;
    display: inline-block;
    width: 250px;
    padding-top: 5px;
}

.input {
    vertical-align: top;
    display: inline-block;
}

.input-field {
    font-size: 14px;
    padding: 0px;
}

.add-button {
    margin-top: 10px;
    text-align: center;
    padding: 3px;
    background-color: rgb(152, 221, 245);
    border-radius: 3px;
    cursor: pointer;
}

.show-hide {
    padding-top: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    font-size: 8px;
    color: red;
}
