<div class="add-school"
     [class.add-school_show]="show">
    <div class="school-added"
         [class.school-added_active]="schoolAdded">
        School succesfully added.
    </div>
    <div class="school-name">
        <div class="section">
            <div class="title">
                School name:
            </div>
            <div class="input">
                <app-text-input defaultText="School name"
                                (emitText)="school.name = ($event)">
                </app-text-input>
                <div class="error"
                     *ngIf="nameError">
                    ^ You need to fill in this field
                </div>
            </div>
        </div>
    </div>
    <div class="school-address">
        <div class="address">
            <div class="section">
                <div class="title">
                    Address:
                </div>
                <div class="input">
                    <app-text-input defaultText="Street"
                                    (emitText)="school.address.street = ($event)">
                    </app-text-input>
                    <div class="error"
                         *ngIf="streetError">
                        ^ You need to fill in this field
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="title"></div>
                <div class="input">
                    <app-text-input defaultText="Suburb"
                                    (emitText)="school.address.suburb = ($event)">
                    </app-text-input>
                    <div class="error"
                         *ngIf="suburbError">
                        ^ You need to fill in this field
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="title"></div>
                <div class="input">
                    <app-text-input defaultText="Postcode"
                                    (emitText)="school.address.postcode = ($event)">
                    </app-text-input>
                    <div class="error"
                         *ngIf="postError">
                        ^ This must be a number
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="title"></div>
                <div class="input">
                    <app-text-input [defaultText]="'State'"
                                    (emitText)="school.address.state = ($event)">
                    </app-text-input>
                    <div class="error"
                         *ngIf="stateError">
                        ^ You need to fill in this field
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="students">
        <div class="title">
            Number of students:
        </div>
        <div class="input">
            <app-text-input defaultText="Number of students"
                            (emitText)="school.students = ($event)">
            </app-text-input>
            <div class="error"
                 *ngIf="studentsError">
                ^ This must be a number
            </div>
        </div>
    </div>
    <div class="add-button"
         (click)="saveSchool()">
        Add school
    </div>
</div>
<div class="show-hide"
     (click)="show = !show">
    {{showHide}}
</div>
