<div class="layout">
    <div class="header">
        <img src="../assets/logo.svg"
             width="150px">
        <div class="title">
            School Manager
        </div>
    </div>
    <div class="app">
        <div class="section">
            <div class="spacer">
                Add school
            </div>
            <div class="component">
                <app-add-school></app-add-school>
            </div>
        </div>
        <div class="section">
            <div class="spacer">
                Schools list
            </div>
            <div class="component">
                <app-list-schools></app-list-schools>
            </div>
        </div>
    </div>
</div>
