.layout {
    padding-top: 50px;
    width: 600px;
    margin: 0 auto;
    height: 1000px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(142, 142, 142);
    margin-top: 5px;
}

.app {
    margin-top: 20px;
}

.section {
    margin-top: 10px;
    border-top: 1px solid rgb(217, 217, 217);
    padding-top: 5px;
}

.spacer {
    vertical-align: top;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    width: 100px;
    padding-top: 4px;
    color: rgb(159, 159, 159);
}

.component {
    vertical-align: top;
    display: inline-block;
}
